<br/>

<div id="input">
  <div class="container">
        <%= render partial: 'items/form', locals: { list: @list, item: @list.items.build } %>
  </div>
</div>

<div id="todo">
  <div class="container">
    <center><h4><b> Todo </b></h4></center>
    <p>
      <%= render partial: 'items/todo', collection: @todo, as: :todo_item %>
    </p>
  </div>
</div>


<div id="done">
  <div class="container">
    <center><h4><b> Done </b></h4></center>
    <p>
      <%= render partial: "items/done", collection: @done, as: :done_item %>
    </p>
  </div>
</div>


<div id="missed">
  <div class="container">
    <center><h4><b> Missed </b></h4></center>
    <p>
      <%= render partial: "items/missed", collection: @missed, as: :missed_item %>
    </p>
  </div>
</div>
