<center>
<h1>Listo</h1>
    <p>Plans are useless, but planning is indispensable.</p>
    <% if signed_in? %>
      <%= link_to "Make a list!", lists_path %>
    <% else %>
      <%= link_to "Sign up", signup_path %>
    <% end %>
</center>
