<center>
<h1>DOHISTORY</h1>
    <p>What have I done??</p>
    <% if signed_in? %>
      <%= link_to "Starting doing!", lists_path %>
    <% else %>
      <%= link_to "Sign up", signup_path %>
    <% end %>
</center>
