      <div class="media">
	<div class="media-body">
	  <small>
	    <%= done_item.description %>, <%= link_to "x", [done_item.list, done_item], method: :delete %>
	  </small>
        </div>
      </div>
