<div>
  <div class="form-group">
       <%= form_for [list, item] do |f| %>
       <%= f.text_field :description, placeholder: 'New task'%>
    Due
     <%= f.select :deadline,
	 options_for_select( [
	 ['Next week', (Time.now+7.day)],
	 ['Tomorrow', (Time.now+1.day).end_of_day],
	 ['Today', Time.now.end_of_day]
	 ] ) %>
     <%= f.submit "save"%>
     <% end %>
  </div>
</div>
