      <div class="media">
	<div class="media-body">
	  <small>
	    <%= item.description %>, <%= item.days_left %> days left <%= link_to "x", [item.list, item], method: :delete %>
	  </small>
        </div>
      </div>
