      <div class="media">
	<div class="media-body">
	  <small>
	    <%= missed_item.description %>, <%= link_to "x", [missed_item.list, missed_item], method: :delete %>
	  </small>
        </div>
      </div>
