  <div class="row">
    <div class= "col-md-7">
      <%= missed_item.description %>
    </div>
    <div class= "col-md-5" align="right">
      <%= missed_item.updated_at.strftime("missed %m/%d/%Y") %>
      <%= link_to "(del)", [missed_item.list, missed_item], method: :delete %>
    </div>
              <hr style="border-top: dotted 2px; color: pink" />
  </div>
