<div>
  <%= form_tag items_path, method: :post do %>
  From
  <%= date_field_tag :from_filter, class: 'datepicker' %>
  To
  <%= date_field_tag :to_filter, class: 'datepicker' %>
  <%= submit_tag "Go", class: 'btn btn-success' %>
  <% end %>
</div>
