@import "bootstrap";
@import "bootstrap-datepicker3";

#header {
  background-color: #03507B;
  color: #FFF;
  padding: 4px 100px;
  border-bottom: solid 5px #00395A;
  }

div.itembox {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}


$bgDefault      : #c3e4f1;
$bgHighlight    : #40ade6;
$colDefault     : #234f5a;
$colHighlight   : #f9f7fa;
.navbar-default {
	background-color: $bgDefault;
	border-color: $bgHighlight;
	.navbar-brand {
		color: $colDefault;
		&:hover, &:focus { 
			color: $colHighlight; }}
	.navbar-text {
		color: $colDefault; }
	.navbar-nav {
		> li {
			> a {
				color: $colDefault;
				&:hover,  &:focus {
					color: $colHighlight; }}}
		> .active {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }}
		> .open {
			> a, > a:hover, > a:focus {
				color: $colHighlight;
				background-color: $bgHighlight; }}}
	.navbar-collapse,
	.navbar-right {
	    padding-right: 1em;
	    }
	.navbar-link {
		color: $colDefault;
		&:hover {
			color: $colHighlight; }}}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs {
    text-align:center;
}

#inl {
    width: auto;
    display: inline;
}