<h2> Idle time</h2>
Idle days ___
<br/>
Longest idle time ___

<h2> Active time</h2>
Active days ___
<br/>
Longest active streak ___
<br/>
Most productive day ___ w/ ___

<h2> Productivity Ratio </h2>
Last week ___
<br/>
Week to date ___
